.x{
    background-color: yellow;
}
.y{
    background-color: red;
}
.u{
    background-color: green;
}
.b{
    background-color: blue;
}
.n{
    background-origin: orange;
}
.n{
    background-color: aqua;
}
.m{
    background-color:brown ;
}
.k{
    background-color: chartreuse;
}
.l{
    background-color: rgb(130, 0, 0);
}